.mask {
	position: relative;
	img {
		display: block;
		width: 100%;
		height: 100%;
		border: 1px solid transparent;
	}
	&:after {
		content: "";
		position: absolute;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-position: 0px 0px;
		background-size: 100% 100%;
	}
	&-black {
		&:after {
			background-image: url(/assets/mask-black.svg);
		}
	}
	&-white {
		&:after {
			background-image: url(/assets/mask-white.svg);
		}
	}
}