app-banner
    .banner.lazy(data-src="/assets/images/banner-2.jpg")
        .container
            h1!= $i18n.MAIN.BANNER.TITLE
            p!= $i18n.MAIN.BANNER.TEXT
            button.btn.openpopupform!= $i18n.GETSTARTED
