-
    var htmlAttrs = {
        title: "",
        description: "",
        keywords: ""
    }

    var langs = {
        en:{ id:"en", title:"En", code: "en" },
        de:{ id:"de", title:"De", code: "de" },
        fr:{ id:"fr", title:"Fr", code: "fr" },
        hr:{ id:"hr", title:"Hr", code: "hr" },
        ru:{ id:"ru", title:"Ru", code: "ru" },
        zh:{ id:"zh", title:"Cn", code: "zh" },
        ko:{ id:"ko", title:"Kr", code: "ko" },
        ja:{ id:"ja", title:"Jp", code: "ja" },
        th:{ id:"th", title:"Th", code: "th" },
        es:{ id:"es", title:"Ee", code: "es" },
        pt:{ id:"pt", title:"Pt", code: "pt" }
    };
