app-header( class=( (currPage.navIsWhite)? "white":""  ) )
    a.logo(href='/' data-click='isActive = false')
    a(name='top')
    section
        nav
            each item in $i18n.PAGES_MAIN
                +nav-menu-item(item)
        //button.btn.openpopupform(type='button')!= $i18n.GETSTARTED
        //a.btn(href="/public") Public Network


        .language
            button(mat-icon-button='' [matmenutriggerfor]='LanguageList' [ngclass]="MenuStatus() ? 'active' : ''")
                |!= $i18n.LANGUAGE
                span.arrow.arrow-down
                    em
    .menu(data-click='ShowMenu()')
        .patty
