app-newsletter
    .container
        div
            h4!= $i18n.NEWSLETTER.TITLE
            p!= $i18n.NEWSLETTER.TEXT
            a.privacy(href!=$i18n.NEWSLETTER.PRIVACY.href)!=$i18n.NEWSLETTER.PRIVACY.title
        form#subscribeForm(novalidate='')
            .form-group
                small.form-control-feedback
                    span.required!= $i18n.NEWSLETTER.SUBSCRIBE.REQUIRED
                    span.incorrect!= $i18n.NEWSLETTER.SUBSCRIBE.INCORRECT
                input.form-control(placeholder!= $i18n.NEWSLETTER.SUBSCRIBE.PLACEHOLDER type='email' name='email' required (ngmodelchange)='dublicate = false')
                span.form-control-focus
            button.btn(type='submit' disabled (click)='subscribe()')!= $i18n.NEWSLETTER.BUTTON
            .form-process
                !=$i18n.NEWSLETTER.PROCESS
            .form-success
                !=$i18n.NEWSLETTER.READY
            .form-duplicate
                !=$i18n.NEWSLETTER.DUPLICATE
            .form-error
                !=$i18n.NEWSLETTER.ERROR

