include /pug/includes/common.pug
include /pug/includes/data.pug

-
    var currPage = $i18n.CASES[0];
    htmlAttrs = currPage.htmlAttrs;

include /pug/includes/head
body(class=$i18n.lang)
    include /pug/includes/header
    app-land-registry
        .screen-main
            .container
                h1
                    | Land Registry
                    br
                    | for Government
                h4 Apla proposed a robust working model that was approved by government of Andhra Pradesh
        .screen-client
            .container
                div
                    article
                        h4 Client
                        img(src='/assets/images/cases/land-registry/logo.png' alt='')
                        h5 Government of Andhra Pradesh
                div
                    h4 Summary
                    p The Government of Andra Pradesh conducted a hackathon at Vizag in November 2017. APLA was reached out by KPMG, the Knowledge Partner with Andra Government on creating a Proof of Concept for land registry.
                    p The timeline was short, within over a week APLA could deliver the complete Proof of Concept built according to data and design furnished by KPMG.
                    p Team Apla successfully delivered the Proof of Concept in a record time of 1 week.
                section
                    h2 Our contributions
                    ul
                        li Strategy
                        li Process workflow research
                        li User research
                    ul
                        li Development of ecosystem
                        li Software application architecture
                        li Quality assurance
                    ul
                        li Technical documentation
                        li Third party security audit
                        li Fully-functional product (go live)
        // .screen-background.lazy(data-src="/assets/images/cases/land-registry/background-screen.jpg")
            .container
                h2 Background
                p
                    | Bureaucracy in India is a constant for those buying or selling land.
                    br
                    br
                    | It takes months or even years to register one&rsquo;s estate; it requires many papers, time &amp; money to do everything. Even then, you could lose money or land since it&rsquo;s easy to falsify and alter entries in the land registry.
        //.screen-representative
            .container
                .thumb.thumb-lg.mask.mask-white
                    img(src='/assets/images/cases/land-registry/J.A.Chowdary.jpg' alt='')
                h4 The current system is rife with corruption. It&nbsp;is&nbsp;estimated that $700 million is being paid in&nbsp;bribes at land registrars across India.
                h5 J. A. Chowdary
                small Special Chief Secretary &amp; IT advisor to&nbsp;the Chief Minister of Andhra Pradesh
        .screen-problems
            .container
                h2 Problems
                section
                    ul
                        li
                            | Physical verification of documents
                            u takes months
                            | .
                        li
                            | Paper-based documents total up to
                            u 3,000 pages
                            |  per registration process.
                        li
                            | Property cases take
                            u years
                            |  to solve in court.
                        li
                            u Multiple authorities
                            |  for owner verification, property verification, legal status, financial verification &amp; regulatory checks.
                        li
                            | Payment of stamp duty is
                            u recorded manually
                            |  on a paper ledger.
                        li
                            | Preparing the documents
                            u involves a third party
                            | .
                        li
                            | High levels of
                            u bureaucracy
                            |  stall the process significantly.
                        //li
                            u Over $700 million lost
                            |  to corruption.
                        li
                            u Zero confidence
                            |  in the property market.
                    article
                        h4 All solved by one solution: Apla
        .screen-challenge.lazy(data-src="/assets/images/cases/land-registry/challenge-screen.jpg")
            .container
                article
                    h5 Challenge
                    h4 To prepare the proof of concept in 3 weeks
                article
                    h5 Result
                    h4 Completed and working demo within just 8 days
        .screen-approach
            .container
                h2 Approach
                //p We use business intelligence technologies to help our clients: to analyze problems, to find growth points, to develop and to integrate the perfect solution.
                .steps
                    h5 Analyze current processes in land registration
                    h5 Find operational inefficiencies
                    h5 Apply Apla&apos;s blockchain advantages
                    h5 Build working prototype
                .line
                    h5 8 days
                    h5 Validated by client
        .screen-solution
            .container
                h2 Solution ecosystem
                .solution
                    p  Integration of Google Maps <br> in government land database
                    p  Coordination with government <br> departments responsible <br> for verification of land data
                    p  Communication with authorized <br>  banks providing money transactions
                    .img
                        img.lazy(data-src='/assets/images/cases/land-registry/solution.png' alt='')
                h2 Land purchase steps
                img.lazy(data-src='/assets/images/cases/land-registry/land-registry.png' alt='')
        .screen-blockchain
            .container
                // h2 Why did the Indian Government use blockchain?
                section
                    article
                        span
                        h4 Secure
                        p Blockchain guarantees that any information can not be arbitrarily amended, altered or deleted by any single individual.
                    article
                        span
                        h4 Transparent
                        p It is easy to track actions made by every system user and define who is specifically responsible for each.
                    article
                        span
                        h4 Fast
                        p Operational efficiency is increased hundreds of times.
        .screen-benefits
            .container
                h2 Key Benefits of the Apla Blockchain
                section
                    article
                        span
                        h4 Blockchain 3.0
                        p We use &ldquo;Smart Law&rdquo; technology that operates above the level of protocols. Unlike Smart Contracts, Smart Laws can evaluate and rectify errors where there are program contradictions or flaws in the algorithm.
                    article
                        span
                        h4 Regulated ecosystem
                        p The blockchain network is private and permissioned, meaning only those authorized can see or use information; it is also leak-proof.
                    article
                        span
                        h4 Rapid development
                        p Apla is able to build entire systems in a matter of days, not months. Moreover, an intuitive interface coupled with simple syntax allows to train staff from local agencies easily.
                    article
                        span
                        h4 Independence
                        p It gives the organization complete control over the platform and is also less dependent on the technology provider.
                    article
                        span
                        h4 Interface editor
                        p It&rsquo;s simple to use for any user, even those without a technical background.
                    article
                        span
                        h4 Cross-platform
                        p Ease of use from desktop or any Android or iOS devices.
        //.screen-outcome
            .container
                h2 Potential Outcome Following Implementation
                section
                    article
                        strong $700 million
                        p saved only on bribes
                    article
                        strong 1000%
                        p speed increase: from month to minutes
                section
                    article
                        span
                        p Number of paper documents decreased <br> from 3000 to 1
                    article
                        span
                        p Economy benefits in billions from zero bureaucracy and process efficiency
                    article
                        span
                        p Growth in the Happy Planet Index
                    article
                        span
                        p Increased trust in government
        // .screen-status.lazy(data-src="/assets/images/cases/land-registry/status-screen.jpg")
            .container
                article
                    h5 STATUS
                    h3 Our demo has been tested and approved the Government of India
                article
                    h5 Future of the PROJECT
                    h3 The Government of India is planning to integrate our solutions in other states nationwide
        .screen-demo(style='display: none')
            .container
                h2
                    | Product Demo &nbsp;
                    a(href='http://www.landindia.com/' target='_blank') www.landindia.com
                .macbook
                    img(src='/assets/images/cases/macbook.png' alt='')
                    span
        .screen-github
            .container
                h2
                    span See it on GitHub! &nbsp;
                    a(href='https://github.com/AplaProject/' target='_blank') github.com/AplaProject
                    a(href='https://github.com/AplaProject/' target='_blank') See it on GitHub!


        include /pug/includes/banner
        include /pug/includes/newsletteralt

        include /pug/includes/footer
        include /pug/includes/popupform

















