include ../../includes/common.pug
include ../../includes/data.pug

-
    var currPage = $i18n.CASES[3];
    htmlAttrs = currPage.htmlAttrs;


include ../../includes/head
body(class=$i18n.lang)
    include ../../includes/header
    app-survey-poll
        .screen-main
            .container
                h1
                    | Survey and polls
                    br
                    | application
                h4
                    | The client in Netherlands decided to use Apla&apos;s solution in pilot mode to collect public opinion and present it to the country&apos;s national parliament.
        .screen-client
            .container
                div
                    h4 Client
                    p The client in Netherlands Netherlands
                div
                    h4 Summary
                    p
                        | We developed an application that makes surveys and polls 100% reliable and much easier to conduct. The client in Netherlands used it to raise awareness about the benefits of implementing blockchain for facilitating dialogue between the citizens and the government. During the survey, thousands of citizens answered more than 100 important questions via their mobile phones. The result was presented at the national parliament as an evidence of blockchain&apos;s capability to establish a clear and transparent connection between citizens and their political leaders.
                section
                    h2 Our contributions
                    ul
                        li Strategy
                        li Process workflow research
                        li User research
                        li Ecosystem development
                    ul
                        li Software application architecture
                        li Quality assurance
                        li Testing
                        li Technical documentation
                    ul
                        li Third party security audit
                        li Conducting the poll for thousands of citizens
        .screen-background.lazy(data-src="/assets/images/cases/survey-poll/background-screen.jpg")
            .container
                h2 Background
                p
                    | The client in Netherlands advocates the idea of strengthening democracy via distributed ledger technology. Before the parliamentary elections they decided to spread awareness about the technology&apos;s benefits through organizing a huge public opinion survey. The leaders of the party opted to take advantage of Apla&apos;s blockchain solutions to reach this goal.
        .screen-representative
            .container
                .thumb.thumb-lg.mask.mask-white
                    img(src='/assets/images/cases/survey-poll/represent.png' alt='')
                h4
                    | With Blockchain technology we can solve the problem of Kafka: bureaucracy. We can organize society in a smarter way. We&apos;ve got lots of problems because of technology, and we&apos;ll solve them with technology
                h5 Arnoud Berghuis
                small Blockchain Party, co-founder
        .screen-problems
            .container
                h2 Problems
                section
                    ul
                        li
                            u Lack of transparency
                            |  during polls or surveys
                        li
                            u Lack of trust
                            |  amongst citizens towards research organizations
                    article
                        h4 All solved by one solution: Apla
        .screen-challenge
            .container
                h2 Challenge
                section
                    ul
                        li
                            | Ensure 100% transparent, non-falsifiable polling.
                        li
                            | Allow citizens to take part in polls and surveys through their mobile phones or PC&apos;s.
                        li
                            | Present the results in the most efficient and demonstrative way.
        .screen-result.lazy(data-src="/assets/images/cases/survey-poll/result-screen.jpg")
            .container
                h5 Result
                h4 An application for conductiong polls and surveys with complete transparency
        .screen-approach
            .container
                h2 Approach
                .steps
                    h5 Create work specifications for required actions
                    h5 Configure the settings for different question types
                    h5 Make a working prototype of the application
                    h5 Proof-of-concept
                    h5 Successfully launch the app
                .line
                    h5 2 weeks
                    h5 Validated by client
        .screen-solution
            .container
                h2 Solution
                section
                    ol(type='1')
                        li
                            | Citizen installs the blockchain app and receives their unique private key.
                        li
                            | Citizen can take part in the survey online via smartphone or PC.
                        li
                            | Citizen answers more than 100 questions: both &quot;yes/no&quot; and open-ended.
                    ol(start='4')
                        li
                            | The citizen can examine the blockchain to verify that their vote was correctly recorded, and see the results at any time.
                        li
                            | Results are presented in the convenient form of diagrams.
                        li
                            | Data collected is accessible in a digital decentralized public ledger.
                h2 Solution
                .img
                    img.lazy(data-src='/assets/images/cases/survey-poll/solution-ecosystem.png')
        .screen-management
            .container
                h2 What we achieved
                .sheme
                    h4 Before
                    span
                    h4 After
                .sheme
                    h4 Before
                    h5 It takes time and money to create a mobile survey.
                    span
                    h4 After
                    h5
                        | Every survey made on Apla works
                        strong automatically in mobile version.
                .sheme
                    h4 Before
                    h5
                        | Attending polls often takes time, reducing the amount of citizens willing to take part.
                    span
                    h4 After
                    h5
                        | User-friendly app allows to complete a poll in
                        strong just a few clicks
                        | .
                .sheme
                    h4 Before
                    h5 E-voting systems can&apos;t guarantee full security.
                    span
                    h4 After
                    h5
                        | The app&apos;s use of cryptography makes it
                        strong 100% secure
                        |  against manipulation.
                .sheme
                    h4 Before
                    h5 People can&apos;t verify that their vote was correctly recorded.
                    span
                    h4 After
                    h5
                        | Every voter
                        strong can ensure their answers
                        |  were counted and weren&apos;t modified in any way.
                .sheme
                    h4 Before
                    h5 Surveys are often unreliable and opaque.
                    span
                    h4 After
                    h5
                        | Surveys become a
                        strong 100% reliable, transparent and secure instrument
                        |  of social research.
        .screen-stories
            .container
                h2 Future potential
                article
                    h4
                        | The project code is partially implemented in the &quot;Voting&quot; basic application, available by default with every ecosystem. It is suitable for all types of voting: from social research to presidential elections.
                    img.lazy(data-src='/assets/images/cases/survey-poll/potential-screen.jpg' alt='')
        .screen-examples
            .container
                h2 Potential outcome following implementation
                section
                    article
                        span
                        h4
                        p
                            | Competitive advantage for the Blockchain Party: more loyalty among people who support the idea of a credible and transparent form of online citizen participation.
                    article
                        span
                        h4
                        p
                            | 100% transparent and reliable data about people&apos;s political beliefs and voting habits for scientific research.
                    article
                        span
                        h4
                        p Increased trust, citizen engagement and government accountability.
        .screen-status.lazy(data-src="/assets/images/cases/survey-poll/status-screen.jpg")
            .container
                article
                    h5 STATUS
                    h3
                        | The application was successfully implemented for conducting a poll and presenting its results in the national parliament of the Netherlands

    include ../../includes/banner
    include ../../includes/newsletteralt

    include ../../includes/footer
    include ../../includes/popupform

















