&developers {

  .container {
    width: 100%;
    max-width: 1240px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0px auto;
    @include clearfix();
    @include max($btablet) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .side-menu {
    background: transparent;
    position: fixed;
    top: 30%;
    left: 10%;
    //transform: translate(-50%, -50%);
    color: #ACACAC;
    list-style-type: disc;
    li {
      &:before {
        content: none;
      }
      height: 41px;
      color: #ACACAC;
      font-size: 32px;
      white-space: nowrap;
      padding: 0;

      a {
        color: #ACACAC;
        font-size: 16px;
        line-height: 28px;
        white-space: nowrap;
        display: inline-block;
        transform: translateY(-3px);
      }
    }
  }

  & > * {
    background-color: $white;
    @include max($btablet) {
      top: 20px;
      bottom: 20px;
      width: 100%;
    }
    .screen {
      &-main {
        //padding-top: 280px;
        min-height: 100vh;
        background: $black;
        & * {
          color: $white;
        }
        img.main {
          width: 100%;
          max-height: 70vh;
          display: block;
          @media (orientation: portrait) {
            display: none;
            @media (min-width: 992px) {
              display: block;
            }
          }
        }
        img.main-m {
          width: 100%;
          display: none;
          @media (max-width: 991px) and (orientation: portrait) {
            display: block;
          }
        }
        .container {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          @media all and (orientation: landscape) {
            @media (max-width: 700px) {
              width: 60%;
            }
          }
        }
        .arrow-down {
          position: absolute;
          bottom: 40px;
          left: 50%;
          transform: translate(-50%, -50%);

          @media all and (orientation: landscape) {
            @media (max-width: 700px) {
              bottom: 20px;
            }
          }

          @media (max-width: 991px) {
            img {
              width: 70px;
            }
          }

        }

        .im {
          display: inline-block;
          position: absolute;
          width:25%;
          height:20%;
          background: transparent;
          opacity: 1;
          &.im-1 {
            top:3%;
            left:50%;
            transform: translateX(-50%);
          }
          &.im-2 {
            top:20%;
            left:3%;
            height: 20%;
            width: 25%;
            transform: none;
          }
          &.im-3 {
            top:20%;
            left: auto;
            right:3%;
            height: 20%;
            width: 25%;
            transform: none;
          }
          &.im-4 {
            top: auto;
            bottom: 3%;
            left: 15%;
            height: 27%;
            transform: none;
          }
          &.im-5 {
            top: auto;
            bottom:3%;
            left: auto;
            right:15%;
            height: 27%;
            transform: none;
          }
        }

        @media (max-width: 991px) and (orientation: portrait) {
          .im {
            &.im-1 {
              width: 33%;
              height: 17%;
            }
            &.im-2 {
              top:25%;
              left:7%;
              width: 30%;
              transform: none;
            }
            &.im-3 {
              left: auto;
              right:7%;
              top:25%;
              width: 20%;
              transform: none;
            }
            &.im-4 {
              top: auto;
              bottom: 12%;
              left: 7%;
              height: 25%;
              width:30%;
              transform: none;
            }
            &.im-5 {
              top: auto;
              bottom:12%;
              left: auto;
              right:7%;
              height: 25%;
              width: 30%;
              transform: none;
            }
          }
        }

        h1 {
          //width: 75%;
        }
        h5 {
          //width: 75%;
        }
      }
      &-learn-about {
        padding: 90px 0;

        h2 {
          padding-bottom: 60px;
        }

        section {
          display: flex;
          flex-wrap: wrap;
          max-width: 800px;
          margin: 0 auto;
          .img {
            flex: 100%;
            img {
              width: 100%;
            }
          }
          .article {
            flex: 50%;
            padding: 30px 30px 30px 0;
            @include text(bold, 24px, $black, 31px, none);
            b {
              color: #3AC28B;
            }

            display: flex;
            .img {
              flex: auto;
              text-align: center;
              img {
                width: auto;
                max-width: 100%;
              }
            }
            .title {
              flex: 80%;
              margin-left: 20px;
            }
            &:hover {
              .title {
                text-decoration: underline;
              }
            }
            @include max($btablet) {
              flex: 100%;
            }
          }
        }
      }
      &-get-started {
        background-color: $black;
        padding-top: 90px;
        padding-bottom: 90px;
        @include max($btablet) {
          padding-top: 60px;
          padding-bottom: 60px;
        }
        & * {
          color: $white;

        }
        h2 {
          margin-bottom: 20px;
          @include max($btablet) {
            margin-bottom: 20px;
          }
        }
        h4 {
          margin-bottom: 20px;
          @include max($btablet) {
            margin-bottom: 20px;
            font-size: 24px;
          }
        }
        .sep {
          flex: 20%;
          margin: 35px 0;
          text-align: center;
          h4 {
            color: #3AC28B;
          }
        }
        section {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          article {
            flex:40%;
            display: flex;
            flex-direction: column;
            margin: 35px 0;
            .text {
              font-size: 24px;
              line-height: 1.4em;
              margin-bottom: 40px;
              @include max($bmobile) {
                font-size: 18px;
              }
            }
            .link {
              @include text(bold, 32px, #3AC28B, 31px, none);
              &:hover {
                text-decoration: underline;
              }
            }

            .video-wrapper {
              border: 1px solid #fff;
            }
            @include max($btablet) {
              flex: 100%;
            }

          }
        }
      }
      &-meet-molis {
        padding: 90px 0;

        h2 {
          padding-bottom: 40px;
        }
        .text {
          font-size: 24px;
          line-height: 1.4em;
          margin-bottom: 40px;
          max-width: 600px;
        }
        .link {
          @include text(bold, 32px, #3AC28B, 31px, none);
          &:hover {
            text-decoration: underline;
          }
        }

        section {
          max-width: 900px;
          margin: 0 auto;

          h4 {
            text-align: center;
            margin-top: 60px;
          }
          .list {
            max-width: 800px;
            margin: 10px auto;
            display: flex;
            flex-direction: row;
            justify-content: center;
            .article {
              flex: 30%;
              padding: 15px 50px;
              margin: 10px;
              text-align: center;
              border: 4px solid #3AC28B;
              border-radius: 8px;
              @include text(bold, 24px, $black, 31px, none);

              img {
                width: auto;
                max-width: 50%;
              }
              .title {
                font-size: 32px;
              }

              &:hover {
                background: rgba(28, 26, 26, 0.05);
              }

              @include max($btablet) {
                flex: 100%;
              }
            }
            @include max($btablet) {
              flex-wrap: wrap;
            }

          }
        }
      }
      &-apla-github {
        padding: 0 0 90px 0;
        * {
          //color: #585758;
        }
        h2 {
          padding-bottom: 40px;

        }

        .link {
          @include text(bold, 30px, #3AC28B, 31px, none);
          &:hover {
            text-decoration: underline;
          }
        }

        .left {
          text-align: left;
          vertical-align: middle;
          @include text(regular, 28px, $black, 31px, none);
          .wrap {
            margin: 0 20px;
            display: inline-block;
            transform: translateY(-35px);
          }
        }

        .right {
          text-align: right;
          vertical-align: middle;
          @include text(regular, 28px, $black, 31px, none);
          .wrap {
            margin: 0 20px;
            display: inline-block;
            transform: translateY(-35px);
          }
          img.b {
            display: inline-block;
          }
          img.s {
            display: none;
          }

        }

        section {
          max-width: 900px;
          margin: 0 auto;
        }

        @include max($btablet) {
          .link {
            font-size: 22px;
          }
          section {
            text-align: center;
          }
          .left, .right {
            max-width: 400px;
            margin: 30px auto;
            text-align: center;
            font-size: 20px;
            img {
              display: block;
              margin: 20px auto;
            }
            img.b {
              display: none;
            }
            img.s {
              display: block;
            }
            .wrap {
              display: block;
              text-align: center;
              transform: none;
            }
          }
        }

      }
      &-join {
        padding: 90px 0;
        background-color: $black;
        @include max($btablet) {
          padding: 60px 0;
        }
        & * {
          color: $white;
        }
        h2 {
          padding-bottom: 0;

        }
        .link-2 {
          @include text(bold, 36px, #3AC28B, 31px, none);
          text-align: center;
          display: block;
          margin-top: 30px;
          &:hover {
            text-decoration: underline;
          }
        }

        .w{
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
          padding-bottom: 60px;

          a{
            flex: auto;
            text-align: right;
            font-size: 32px;
            font-weight: 400;
            color: $white;
            transform: translateY(5px);

            .wrap {
              display: inline-block;
            }
            img {
              transform: translateY(10px);
              margin-right: 10px;
            }
          }
        }

        .text {
          text-align: center;
          font-size: 32px;
          line-height: 1.4em;
        }

        @include max($btablet) {
          .text {
            font-size: 24px;
          }
          .w {
            h2 {
              text-align: center;
              flex: 100%;
            }
            a {
              flex:100%;
              text-align: center;
            }
          }
        }


      }



      &-blockchain {
        section {
          article {
            &:nth-of-type(1) {
              span {
                background-image: url(/assets/icons/icon-secure-data.svg);
              }
            }
            &:nth-of-type(2) {
              span {
                background-image: url(/assets/icons/icon-transparent.svg);
              }
            }
            &:nth-of-type(3) {
              span {
                background-image: url(/assets/icons/icon-speed.svg);
              }
            }
            span {
              display: block;
              width: 100px;
              height: 100px;
              background-repeat: no-repeat;
              background-position: 0px 0px;
              background-size: 100% 100%;
            }
          }
        }
      }
    }
  }
}
