&footer {
	& > * {
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;
		padding-top: 50px;
		@include max($btablet) {
			display: block;
			border-top: 1px solid $lgray;
			padding-top: 25px;
		}
	}
	.screen {
		&-map {
			border-top: 3px solid $black;
			padding-top: 90px;
			@include max($btablet) {
				padding-top: 40px;
			}
			h2 {
				margin-bottom: 40px;
				@include max($btablet) {
					margin-bottom: 20px;
				}
			}
			img {
				display: block;
				width: 100%;
				@include max($btablet) {
					width: 100vw;
					margin-left: -20px;
				}
			}
			agm-map {
				height: 385px;
			}
		}
	}
	small {
		line-height: 20px;
	}
	nav {
		flex: 33.33%;
		@include max($btablet) {
			border-bottom: 1px solid $lgray;
			margin-bottom: 50px;
		}
		.logo {
			margin-bottom: 70px;
			@include max($btablet) {
				margin-bottom: 40px;
			}
		}
		p {
			@include max($btablet) {
				border-top: 1px solid $lgray;
				a {
					display: block;
					line-height: 50px;

				}
			}
			& + p {
				margin-top: 13px;
				@include max($btablet) {
					margin-top: 0px;
				}
			}
		}
	}
	section {
		flex: 66.66%;
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;
		@include max($btablet) {
			display: block;
		}
		article {
			flex: 50%;
			padding-right: 25px;
			margin-bottom: 32px;
			@include max($btablet) {
				padding-right: 0px;
				margin-bottom: 25px;
			}
			h5 {
				margin-bottom: 10px;
			}
		}
	}
	footer {
		flex: 1;
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-start;
		align-content: center;
		align-items: center;
		padding-top: 90px;
		padding-bottom: 80px;
		@include max($btablet) {
			display: block;
			padding-top: 50px;
			padding-bottom: 25px
		}
		.soc {
			margin-right: 30px;
			@include max($btablet) {
				display: flex;
				flex-flow: row wrap;
				justify-content: flex-start;
				margin-left: -4px;
				margin-right: -4px;
				margin-bottom: 17px;
			}
			a {
				@include max($btablet) {
					margin-left: 4px !important;
					margin-right: 4px !important;
					margin-bottom: 8px;
				}
				& + a {
					margin-left: 8px;
					@include max($btablet) {
						margin-left: 0px;
					}
				}
			}
		}
	}
}