&header {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-content: center;
	align-items: center;
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: $header;
	font-size: 18px;
	line-height: 22px;
	padding-left: 40px;
	padding-right: 40px;
	z-index: 10;
	@include transition("all", .3s, "ease");
	@include max($btablet2) {
		height: $header_mobile !important;
		padding-left: 20px;
		padding-right: 20px;
		&:before {
			content: "";
			position: absolute;
			left: 0px;
			right: 0px;
			top: 0px;
			bottom: 0px;
			background-color: $white;
			box-shadow: 0px 4px 8px 0px rgba(206, 206, 206, 0.5);
			z-index: 2;
		}
	}
	&.fixed {
		height: 72px;
		background-color: $white;
		box-shadow: 0px 4px 8px 0px rgba(206, 206, 206, 0.5);
	}
	&.white {
		&:not(.fixed) {
			@include min($btablet2) {
				.logo {
					&:before {
						opacity: 0;
					}
					&:after {
						opacity: 1;
					}
				}
				nav {
					border-left-color: $white;
					a {
						&:not(:hover) {
							color: $white;
						}
					}
				}
				.language {
					button {
						color: $white;
						.arrow-down {
							em {
								&:before {
									opacity: 0;
								}
								&:after {
									opacity: 1;
								}
							}
						}
					}
				}
			}
		}
	}
	&.active {
		.menu {
			.patty {
				background: none !important;
				&:after {
					top: $header_mobile/2-1 !important;
					background: $green !important;
					transform: rotate(45deg);
				}
				&:before {
					top: $header_mobile/2-1 !important;
					background: $green !important;
					transform: rotate(-45deg);
				}
			}
		}
		section {
			@include max($btablet2) {
				transform: translateY(0);
			}
		}
	}
	section {
		flex: 1;
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-start;
		align-content: center;
		align-items: center;
		@include max($btablet2) {
			flex-flow: column nowrap;
			justify-content: space-between;
			align-content: flex-start;
			align-items: flex-start;
			position: fixed;
			left: 0px;
			right: 0px;
			top: 0px;
			bottom: 0px;
			background-color: $black;
			padding-left: 20px;
			padding-right: 20px;
			padding-top: 100px;
			padding-bottom: 40px;
			transform: translateY(-100%);
			z-index: 1;
			@include transition("transform", .3s, "ease");
			nav {
				display: flex;
				flex-flow: column nowrap;
				justify-content: flex-start;
				align-content: flex-start;
				align-items: flex-start;
				a {
					@include text(bold, 36px, $white, 57px, none);
				}
			}
			.btn {
				margin-top: auto;
				margin-left: -8px;
			}
		}
		nav {
			@include min($btablet2) {
				display: flex;
				flex-flow: row nowrap;
				justify-content: flex-start;
				align-content: center;
				align-items: center;
				border-left: 2px solid $black;
				padding-left: 39px;
				margin-left: 39px;
				margin-right: auto;
				@include transition("border", .3s, "ease");
				a {
					position: relative;
					&:after {
						content: "";
						position: absolute;
						left: 0px;
						top: 100%;
						width: 0px;
						height: 3px;
						background-color: $green;
						@include transition("width", .3s, "easeInOutExpo");
					}
					&:hover {
						&:after {
							width: 100%;
						}
					}
					& + a {
						margin-left: 40px;
					}
				}
			}
		}
		.language {
			display: none;
			position: relative;
			margin-left: 10px;
			@include max($btablet2) {
				margin-left: 0px;
				margin-top: 10px;
			}
			button {
				display: flex;
				flex-flow: row nowrap;
				justify-content: flex-start;
				align-content: center;
				align-items: center;
				cursor: pointer;
				height: 32px;
				border: 0px;
				background-color: transparent;
				@include text(reg, 18px, $black, 22px, none);
				padding: 0px;
				margin: 0px;
				@include transition("color", .3s, "ease");
				@include max($btablet2) {
					color: $white;
					.arrow {
						&-down {
							em {
								&:before {
									background-image: url(/assets/icons/small-arrow-down-white.svg);
								}
							}
						}
					}
				}
			}
		}
	}
	.menu {
		cursor: pointer;
		position: fixed;
		right: 0px;
		top: 0px;
		width: 64px;
		height: $header_mobile;
		background-color: transparent;
		margin-right: 0px;
		z-index: 3;
		transition: {
			property: all;
			duration: 0.3s;
		}
		@include min($btablet2) {
			display: none;
		}
		.patty {
			width: 24px;
			height: 3px;
			margin: $header_mobile/2-1 auto;
			background-color: $green;
			border-radius: 2px;
			transition: all 0.3s;
			&:before, &:after {
				content: '';
				position: absolute;
				display: block;
				width: 24px;
				height: 3px;
				background-color: $green;
				border-radius: 2px;
				transition: all 0.3s;
			}
			&:before {
				top: $header_mobile/2-1-9;
			}
			&:after {
				top: $header_mobile/2-1+9;
			}
		}
	}
}