&land-registry {
	height: 100%;
	min-height: 100%;
	.screen {
		height: 100%;
		min-height: 100%;
		&-main {
			background-image: url(/assets/images/cases/land-registry/main-screen.jpg);
			h4 {
				max-width: 550px;
			}
		}
		&-background {
			min-height: 530px;
			//background-image: url(/assets/images/cases/land-registry/background-screen.jpg);
			@include max($btablet) {
				min-height: 1px;
			}
		}
		&-challenge {
			min-height: 550px;
			//background-image: url(/assets/images/cases/land-registry/challenge-screen.jpg);
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
			padding-top: 90px;
			padding-bottom: 90px;
			@include max($btablet) {
				min-height: 1px;
				padding-top: 60px;
				padding-bottom: 60px;
			}
			& * {
				color: $white;
			}
			& > * {
				display: flex;
				flex-flow: row nowrap;
				justify-content: flex-start;
				align-content: flex-start;
				align-items: flex-start;
				@include max($btablet) {
					display: block;
				}
			}
			article {
				flex: 50%;
				padding-right: 25px;
				@include max($btablet) {
					padding-right: 0px;
					& + article {
						padding-top: 20px;
					}
				}
			}
			h4 {
				max-width: 500px;
			}
			h5 {
				text-transform: uppercase;
				margin-bottom: 15px;
				@include max($btablet) {
					margin-bottom: 5px;
				}
			}
		}
		&-solution {
			background-color: $black;
			padding-top: 90px;
			padding-bottom: 90px;
			@include max($btablet) {
				padding-top: 60px;
				padding-bottom: 60px;
			}
			& * {
				color: $white;
			}
			h2 {
				margin-bottom: 30px;
				@include max($btablet) {
					margin-bottom: 20px;
				}
			}
			p {
				max-width: 660px;
			}
			img {
				display: block;
				max-width: 100%;
				margin: 0px auto;
			}
			.solution {
				display: flex;
				flex-flow: row wrap;
				justify-content: flex-start;
				@include max($btablet) {
					display: block;
				}
				p {
					flex: 33.33%;
					padding-left: 25px;
					margin-top: 0px;
					@include max($btablet) {
						padding-left: 0px;
					}
					&:first-of-type {
						margin-left: -25px;
						@include max($btablet) {
							margin-left: 0px;
						}
					}
				}
				.img {
					margin: 90px auto;
					@include max($btablet) {
						margin: 60px auto;
					}
				}
			}
		}
		&-status {
			min-height: 785px;
			//background-image: url(/assets/images/cases/land-registry/status-screen.jpg);
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
			padding-top: 90px;
			padding-bottom: 90px;
			@include max($btablet) {
				min-height: 1px;
				padding-top: 60px;
				padding-bottom: 60px;
			}
			& * {
				color: $white;
			}
			& > * {
				display: flex;
				flex-flow: row wrap;
				justify-content: space-between;
				align-content: flex-start;
				align-items: flex-start;
				@include max($btablet) {
					display: block;
				}
			}
			article {
				max-width: 600px;
				&:nth-of-type(2) {
					margin-top: 110px;
					margin-left: auto;
					@include max($btablet) {
						margin-top: 60px;
					}
				}
			}
			h5 {
				text-transform: uppercase;
				margin-bottom: 15px;
				@include max($btablet) {
					margin-bottom: 10px;
				}
			}
		}
	}
}